[run]
source = .
branch = True
omit = 
    *apps.py,
    *migrations/*.py,
    *settings*.py,
    *tests/*.py,
    *urls.py,
    *wsgi.py,
    *asgi.py,
    *test.py,
    manage.py

[report]
fail_under = 100
show_missing = True
skip_covered = True