div.no-trick-container {
    display: flex;
    height: calc(100vh - 2*73px - 24px);
    justify-content: center;
    align-items: center;
}

div.no-trick-message {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    justify-content: center;
}