ul.list-group {
    height: 100%;
    justify-content: end;
}

li.list-group-item:first-child {
    display: grid;
    align-items: end;
    height: 100%;
}

.card-header .delete {
    display: block;
    position: absolute;
    top: 7px;
    right: 7px;
    width: 26px;
    height: 26px;
    padding: 0;
    border: 0;
}

.card-header .delete img {
    width: 25px;
    height: 25px;
}
