{% extends 'main/base.html' %}
{% block title %} dodaj trik {% endblock %}
{% block body %}
    <div class="card bg-light">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" aria-current="true" href="#">nowy trik</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">wybierz z listy</a>
              </li>
            </ul>
        </div>
        <div class="card-body">

        </div>
    </div>
{% endblock %}
