{% extends "main/base.html" %}
{% load tricks_extras %}
{% block title %}twoje triki{% endblock %}
{% block body %}
    {% for user_trick in user_trick_pairs %}
        <div class="card {% card_color user_trick.rank %}">
          <div class="card-header">
              {{ user_trick.trick.name }}
          </div>
          <div class="card-body">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              {% if user_trick.rank <= 4 %}
                {% progress_bar user_trick.rank user_trick.land_count %}
                <a href="#" class="btn btn-primary">+1</a>
              {% endif %}
          </div>
        </div>
    {% endfor %}
{% endblock %}