{% extends "main/base.html" %}
{% block title %}twoje triki{% endblock %}
{% block body %}
    {% for user_trick in user_trick_pairs %}
        <div class="card">
          <div class="card-header">
            {{ user_trick.trick }}
          </div>
          <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">+1</a>
          </div>
        </div>
    {% endfor %}
{% endblock %}